# Next.js specific
.next/
out/

# Dependencies
node_modules/

# Production
build/
dist/

# Environment variables
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# ESLint
.eslintcache

# Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env.development.local
.env.test.local
.env.production.local

# Cache
.cache
